.undraw-reviews-lp8w-child {
  width: 363px;
  position: relative;
  height: 231px;
}
.undraw-reviews-lp8w {
  cursor: pointer;
  border: 2px solid var(--color-gainsboro-100);
  padding: var(--padding-11xl) var(--padding-3xs);
  background-color: var(--color-gray-200);
  width: 515px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  box-sizing: border-box;
  height: 287px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews {
  position: relative;
  font-weight: 600;
}
.undraw-reviews-lp8w-parent {
  position: absolute;
  top: 736px;
  left: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.undraw-shared-goals-re-jvqd-1-child {
  width: 318.3px;
  position: relative;
  height: 243.5px;
}
.undraw-shared-goals-re-jvqd-1-parent {
  position: absolute;
  top: 306px;
  left: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.undraw-travel-mode-re-2lxo-child {
  width: 406px;
  position: relative;
  height: 244.5px;
}
.undraw-travel-mode-re-2lxo {
  cursor: pointer;
  border: 2px solid var(--color-gainsboro-100);
  padding: 0;
  background-color: var(--color-gray-200);
  width: 515px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  box-sizing: border-box;
  height: 287px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.undraw-travel-mode-re-2lxo-parent {
  position: absolute;
  top: 306px;
  left: 806px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.name {
  position: absolute;
  top: 175px;
  left: 120px;
  font-size: var(--font-size-21xl);
  line-height: 52px;
  font-weight: 600;
}
.copyright-20241,
.footer1 {
  position: absolute;
  width: 1440px;
}
.copyright-20241 {
  top: 22px;
  left: 0;
  display: inline-block;
}
.footer1 {
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--color-gray-1300);
  height: 68px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--ffffff);
  font-family: var(--text-md-semibold);
}
.logo-icon1 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 215px;
  height: 53px;
  object-fit: cover;
}
.shape-icon {
  position: relative;
  width: 25.1px;
  height: 25.1px;
}
.div {
  position: absolute;
  top: 2.7px;
  left: calc(50% - 4.4px);
  font-size: var(--font-size-3xs);
  line-height: 12px;
  font-weight: 500;
  font-family: var(--text-md-semibold);
  color: var(--ffffff);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 9px;
}
.spanmuibadge-badge {
  position: absolute;
  height: 41.67%;
  width: 42.86%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 57.14%;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-200);
}
.message {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 1px;
  width: 35px;
  height: 36px;
}
.frame-icon,
.friends,
.svg-icon {
  position: absolute;
  overflow: hidden;
}
.frame-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.friends,
.svg-icon {
  width: 30px;
}
.friends {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 13px;
  left: 51px;
  height: 30px;
}
.svg-icon {
  height: calc(100% - 10px);
  top: 9px;
  bottom: 1px;
  left: 1px;
  max-height: 100%;
}
.spanmuibadge-badge1 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-200);
  width: 15px;
  height: 15px;
}
.notif {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 98px;
  border-radius: 19.99px;
  width: 31px;
  height: 40px;
}
.userimg-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.userimg {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 148px;
  width: 50px;
  height: 50px;
}
.hamburger,
.vector-icon {
  position: absolute;
  overflow: hidden;
}
.vector-icon {
  height: 75%;
  width: 100%;
  top: 12.67%;
  right: 0;
  bottom: 12.33%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.hamburger {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 219px;
  width: 30px;
  height: 30px;
}
.header1,
.icons,
.nav2 {
  position: absolute;
  top: 0;
  left: 1101px;
  width: 249px;
  height: 50px;
}
.header1,
.nav2 {
  top: 20px;
  left: 46px;
  width: 1350px;
  height: 56px;
}
.header1 {
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--ffffff);
  width: 1440px;
  height: 97px;
}
.history {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-200);
  height: 1235px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-1200);
  font-family: var(--text-md-semibold);
}
.buttonmdiaccount-outline-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button49 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--text-md-semibold);
  color: var(--colors-dark);
  text-align: left;
}
.button48 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--colors-light);
  width: 194px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.buttonfluentshifts-activity-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.dropdown1 {
  position: absolute;
  top: 95px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colors-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown {
  width: 194px;
  position: relative;
  height: 282px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
