.copyright-202410 {
  position: absolute;
  top: 22px;
  left: 0;
  display: inline-block;
  width: 1440px;
}
.check-in3,
.footer10 {
  font-family: var(--text-md-semibold);
  color: var(--ffffff);
}
.footer10 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--color-gray-1300);
  width: 1440px;
  height: 68px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.check-in3 {
  position: relative;
  font-size: var(--text-md-medium-size);
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}
.book-now1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0;
  background-color: var(--ffa101);
  position: absolute;
  width: calc(100% - 1229px);
  top: 1384px;
  right: 602px;
  left: 627px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 386px;
}
.component-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--ffffff);
}
.sparkspace-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 423px;
}
.for-person-hour {
  position: absolute;
  top: 382px;
  left: 24px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 263px;
}
.checkbox-icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
}
.general-inclusions-group {
  width: 295px;
  position: relative;
  height: 24px;
}
.whiteboard {
  position: absolute;
  top: 0;
  left: 32px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 263px;
}
.checkboxes {
  position: absolute;
  top: 260px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.sparkspace-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  width: 400px;
  height: 200px;
  object-fit: cover;
}
.sparkspace1 {
  position: absolute;
  top: 220px;
  left: 20px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--text-md-semibold);
  color: var(--color-gray-1000);
  display: flex;
  align-items: center;
  width: 310px;
  height: 22px;
}
.for-additional-hours {
  position: absolute;
  top: 358px;
  left: 24px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 263px;
}
.collabhub,
.sparkspace {
  position: absolute;
  top: 52px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 423px;
}
.collabhub {
  left: 431px;
}
.conf {
  position: absolute;
  top: 0;
  left: 339px;
  font-size: var(--font-size-lg);
  line-height: 52px;
  font-family: var(--text-md-semibold);
  color: var(--a);
}
.conference-room {
  position: absolute;
  top: 838px;
  left: 312px;
  width: 831px;
  height: 475px;
  font-size: var(--text-md-medium-size);
  color: var(--color-slategray-300);
}
.pricing-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 359px;
  height: 268px;
}
.checkboxes2 {
  position: absolute;
  top: 124px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.div43 {
  width: 16px;
  position: relative;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.span13 {
  letter-spacing: -0.02em;
  line-height: 60px;
}
.span14 {
  font-size: var(--font-size-11xl);
}
.days1 {
  line-height: 38px;
  font-size: var(--font-size-xl);
}
.days {
  position: relative;
  font-weight: 500;
  color: var(--color-darkslategray-400);
  font-size: var(--font-size-29xl);
}
.price {
  position: absolute;
  top: 32px;
  left: 85px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--black);
}
.pricing1 {
  position: absolute;
  top: 52px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xs);
  width: 359px;
  height: 268px;
  font-size: var(--text-md-medium-size);
  color: var(--color-slategray-300);
}
.checkboxes3,
.price1 {
  position: absolute;
  top: 32px;
  left: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkboxes3 {
  top: 124px;
  left: 32px;
  flex-direction: column;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--text-md-medium-size);
  color: var(--color-slategray-300);
}
.pricing2 {
  position: absolute;
  top: 52px;
  left: 404px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xs);
  width: 359px;
  height: 268px;
  text-align: center;
}
.price2 {
  position: absolute;
  top: 32px;
  left: 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing3 {
  position: absolute;
  top: 52px;
  left: 795px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xs);
  width: 359px;
  height: 268px;
  text-align: center;
}
.heavy-rev {
  position: absolute;
  top: 0;
  left: 540px;
  font-size: var(--font-size-lg);
  line-height: 52px;
  font-family: var(--text-md-semibold);
  color: var(--a);
}
.heavy-review {
  position: absolute;
  top: 504px;
  left: 144px;
  width: 1154px;
  height: 320px;
}
.general-inclusions-parent4 {
  position: absolute;
  top: 124px;
  left: 32px;
  width: 295px;
  height: 24px;
}
.price3,
.price4 {
  position: absolute;
  top: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.price3 {
  left: 114px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--black);
}
.price4 {
  left: 88px;
}
.general-inclusions-parent5 {
  position: absolute;
  top: 124px;
  left: 32px;
  width: 295px;
  height: 24px;
  text-align: left;
  font-size: var(--text-md-medium-size);
  color: var(--color-slategray-300);
}
.price5 {
  position: absolute;
  top: 32px;
  left: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.regular-rate {
  position: absolute;
  top: 0;
  left: 529px;
  font-size: var(--font-size-lg);
  line-height: 52px;
  font-family: var(--text-md-semibold);
  color: var(--a);
}
.nav-item,
.regular {
  position: absolute;
  top: 170px;
  left: 144px;
  width: 1154px;
  height: 320px;
}
.nav-item {
  top: 0;
  left: 0;
  filter: drop-shadow(0 1px 0#e0e0e0);
  width: 1440px;
  height: 48px;
}
.overview1 {
  position: relative;
  font-size: var(--text-md-medium-size);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: var(--text-md-semibold);
  color: var(--gray-1);
  text-align: left;
}
.overview-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
}
.selection-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-child30,
.frame-child31 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-1700);
  height: 3px;
}
.frame-child31 {
  background-color: var(--orange);
}
.frame-parent11,
.frame-parent12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent12 {
  left: 213px;
}
.selection1 {
  position: absolute;
  top: 3px;
  left: 188px;
  width: 306px;
  height: 42px;
}
.logo-icon16,
.nav11 {
  position: absolute;
  top: 108px;
  left: 0;
  width: 1440px;
  height: 48px;
}
.logo-icon16 {
  top: 3px;
  width: 215px;
  height: 53px;
  object-fit: cover;
}
.shape-icon8 {
  position: relative;
  width: 25.1px;
  height: 25.1px;
}
.div49 {
  position: absolute;
  top: 2.7px;
  left: calc(50% - 4.4px);
  font-size: var(--font-size-3xs);
  line-height: 12px;
  font-weight: 500;
  font-family: var(--text-md-semibold);
  color: var(--ffffff);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 9px;
}
.spanmuibadge-badge16 {
  position: absolute;
  height: 41.67%;
  width: 42.86%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 57.14%;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-200);
}
.message8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 1px;
  width: 35px;
  height: 36px;
}
.frame-icon8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.friends8,
.svg-icon35 {
  position: absolute;
  width: 30px;
  overflow: hidden;
}
.friends8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 13px;
  left: 51px;
  height: 30px;
}
.svg-icon35 {
  height: calc(100% - 10px);
  top: 9px;
  bottom: 1px;
  left: 1px;
  max-height: 100%;
}
.spanmuibadge-badge17 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-200);
  width: 15px;
  height: 15px;
}
.notif8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 98px;
  border-radius: 19.99px;
  width: 31px;
  height: 40px;
}
.userimg-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.userimg8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 148px;
  width: 50px;
  height: 50px;
}
.hamburger8,
.vector-icon14 {
  position: absolute;
  overflow: hidden;
}
.vector-icon14 {
  height: 75%;
  width: 100%;
  top: 12.67%;
  right: 0;
  bottom: 12.33%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.hamburger8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 219px;
  width: 30px;
  height: 30px;
}
.header9,
.icons8,
.nav12 {
  position: absolute;
  top: 0;
  left: 1101px;
  width: 249px;
  height: 50px;
}
.header9,
.nav12 {
  top: 20px;
  left: 46px;
  width: 1350px;
  height: 56px;
}
.header9 {
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--ffffff);
  width: 1440px;
  height: 97px;
}
.rates {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-200);
  height: 1580px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--black);
  font-family: var(--text-md-medium);
}
.frame-child36 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xs);
  background-color: var(--ffffff);
  width: 580px;
  height: 521px;
}
.confirm-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-goldenrod);
}
.confirm1 {
  position: absolute;
  height: 46.15%;
  width: 41.37%;
  top: 28.57%;
  left: 29.09%;
  font-size: var(--text-md-medium-size);
  font-weight: 500;
  font-family: var(--text-md-semibold);
  color: var(--ffffff);
  text-align: left;
  display: inline-block;
}
.confirm {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 154.7px;
  position: relative;
  height: 45.5px;
}
.back-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-800);
}
.back,
.buttons {
  position: absolute;
}
.back {
  height: 46.15%;
  width: 24.56%;
  top: 28.57%;
  left: 37.49%;
  font-size: var(--text-md-medium-size);
  font-weight: 500;
  font-family: var(--text-md-semibold);
  color: var(--ffffff);
  text-align: left;
  display: inline-block;
}
.buttons {
  top: 372px;
  left: 132px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.icon11 {
  position: absolute;
  top: 141px;
  left: 250px;
  width: 79px;
  height: 79px;
  overflow: hidden;
}
.confirm-check-in {
  position: absolute;
  top: 0;
  left: 66px;
  font-weight: 600;
}
.do-you-really {
  margin: 0;
}
.text3,
.text4 {
  position: absolute;
}
.text4 {
  top: 50px;
  left: -1px;
  font-size: var(--text-md-medium-size);
  font-weight: 500;
  color: var(--gray-2);
  text-align: center;
}
.text3 {
  top: 245px;
  left: 124px;
  width: 331px;
  height: 88px;
}
.close-icon,
.header-child,
.rectangle-parent6 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 580px;
  height: 521px;
}
.close-icon,
.header-child {
  top: 0;
  left: 0;
  height: 60px;
}
.close-icon {
  top: 15px;
  left: 530px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.check-in-confirm {
  position: absolute;
  top: 0;
  left: 34px;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 500;
}
.icon12,
.texxt {
  position: absolute;
  top: 18px;
  left: 28px;
  width: 246px;
  height: 24px;
}
.icon12 {
  top: 26px;
  left: 14px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.header11 {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #fd7068;
  width: 580px;
  height: 60px;
  font-size: var(--font-size-xl);
  color: var(--ffffff);
}
.check-in-pop {
  width: 580px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 521px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--t);
  font-family: var(--text-md-semibold);
}
.buttonmdiaccount-outline-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button49 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--text-md-semibold);
  color: var(--colors-dark);
  text-align: left;
}
.button48 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--colors-light);
  width: 194px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.buttonfluentshifts-activity-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.dropdown1 {
  position: absolute;
  top: 95px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colors-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown {
  width: 194px;
  position: relative;
  height: 282px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
